<div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">

  <div class="floating-button">
    <button mat-fab color="accent" (click)="goToPage('zone/create')">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-card>
    <form [formGroup]="formGroup">
      <div fxLayoutAlign="start center" fxLayoutGap="10px">

        <div fxFlex fxLayout="column">
          <mat-form-field fxFlex fxFlexOffset="20px" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="name" maxlength="64">
          </mat-form-field>
        </div>

        <button type="submit" mat-mini-fab color="primary" (click)="getPaginated()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>

  <mat-card class="mat-table">
    <mat-table [dataSource]="paginated.results" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let element" [attr.data-header]="'#'">{{element.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let element" [attr.data-header]="'Nome'">{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef>Criado em</mat-header-cell>
        <mat-cell *matCellDef="let element"
                  [attr.data-header]="'Criado em'">{{element.created_at | localDate}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="modified_at">
        <mat-header-cell *matHeaderCellDef>Modificado em</mat-header-cell>
        <mat-cell *matCellDef="let element"
                  [attr.data-header]="'Modificado em'">{{element.modified_at | localDate}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator [length]="paginated.count"></mat-paginator>

  </mat-card>
</div>
